<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Help Page</title>
</head>
<body>

<h1>{{pageTittle}}</h1>
<p>{{paragraph}}</p>
{{> footer}} <!-- parials syntax (> partails name) -->
</body>
</html>
